.task {
  height: 3.5rem;
}

.priority-form {
  width: 30%;
}

.priority-selector {
  height: 3.5rem;
}

.priority-option {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.create-task-button {
  height: 3.5rem;
}

.add-icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}
