.outter-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  box-shadow: 3;
  gap: 1rem;
  background-color: aliceblue;
}

.inner-box-inputs {
  display: flex;
}

.inner-box-buttons {
  display: flex;
  flex-direction: column;
}
